.back-color {
    background-color: #fff3e9;
    height: 80px;
    color: #000000;
}

.main-logo {
    margin-left: 80px;
}

.nav-content {
    margin-right: 129px;
}

.nav-about {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 156.5%;
    margin-right: 64px;
}

.nav-programs {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 156.5%;
    margin-right: 112px;
}

.nav-tag{
    padding: 16px;
    border-bottom: solid .5px #000000;
}
.nav-log{
    padding: 16px;
}

@media only screen and (max-width: 600px) {
    .back-color {
        height: 60px;
    }
    .main-logo {
        margin-left: 0px;
    }
    .nav-content {
        margin-right: 10px;
    }
    .nav-tag {
        padding: 6px;
    }
    .nav-log{
        padding: 8px;
    }
  }